/* Global defaults. */

body {
    margin: 0;
    font-family: Lato, sans-serif;
    color: rgb(33,33,33);
}

section {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 64pt;
    letter-spacing: 3px;
    font-weight: 300;
    background-color: rgb(10, 64, 98);
    margin: 0;
    padding: 120px 0;
}

h2 {
    font-size: 19pt;
    line-height: 2;
    font-weight: 400;
}

h3 {
    font-size: 15pt;
    line-height: 2;
    font-weight: 400;
}

h4 {
    font-size: 11pt;
    line-height: 1.67;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 11pt;
    line-height: 1.67;
}

ul {
    text-align: left;
    font-size: 11pt;
    line-height: 1.67;
}

ol {
    text-align: left;
    font-size: 11pt;
    line-height: 1.8;
    padding-left: 50px;
}

address {
    padding-top: 25;
    padding-bottom: 25;
}

small {
    font-size: 9pt;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
}

a {
    color: rgb(0,101,128);
}

figure {
    display: flex;
    flex-direction: column;
    font-size: 11pt;
    line-height: 3;
}

table { /* Table elements only used on electrolab page. */
    width: 100%;
    table-layout: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    padding: 15px;
    font-size: 11pt;
    vertical-align: text-top;
}

/* Navigation bar. */

nav {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(34, 34, 34);
    height: 55px;
    position: fixed;
    width: 100%;
}

h2.nav {
    font-size: 12pt;
    font-weight: 300;
    background-color: transparent;
}

h2.nav a {
    text-decoration: none;
}

h2.nav a:hover {
    text-decoration: underline;
}

/* ... */

h1 div.subtitle {
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: normal;
}

p.subheading {
    margin: 0;
    padding-bottom: 1%;
}

span.header {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
}

span.wrap {
    display: flex;
    height: max-content;
    padding: 2% 20% 2% 20%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

span.wrap2 {
    display: flex;
    height: max-content;
    padding: 2% 20% 2% 20%;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

span.projects { /* Only used for the projects main page. */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
}

#footer {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Unique */
#idealgasframe {
    width: 100%;
    height: auto;
    aspect-ratio: 1002/742;
}

/* Modifiers. */

.bgcolor0 { /* Might not need this since it's typically the browser default. */
    background-color: rgb(255, 255, 255)
}

.bgcolor1 {
    background-color: rgb(34,110,147);
}

.bgcolor2 {
    background-color: rgb(235, 235, 235)
}

.txtcolor0 {
    color: rgb(33,33,33);
}

.txtcolor1 {
    color: rgb(255, 255, 255);
}

.txtcolor2 {
    color: rgb(34,110,147);
}

.txtcolor3 {
    color: rgb(235, 235, 235);
}

.center {
    text-align: center;
    /* padding: 0; */
}

.right {
    text-align: right;
    /* flex: 1; */
}

.left {
    text-align: left;
    /* flex: 1; */
}

.flex1 {
    flex: 1;
}

.flex67 {
    flex: 0.67;
}