body {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64pt;
    font-family: Lato, sans-serif;
    color: rgba(255,255,255,1);
    letter-spacing: 2px;
    font-weight: 300;
    background-color: rgba(34,110,147,1);
    margin: 0;
    padding: 0;
}

h2 {
    text-align: left;
    font-size: 19pt;
    font-family: Lato, sans-serif;
    line-height: 1.4;
    color: rgba(34,110,147,1);
    background-color: gainsboro;
}

h3 {
    text-align: left;
    font-size: 15pt;
    font-family: Lato, sans-serif;
    line-height: 1.25;
    color: rgba(33,33,33,1);
    padding-left: 20%;
}

h4 {
    text-align: left;
    font-size: 11pt;
    font-family: Lato, sans-serif;
    line-height: 1.6667;
    color: rgba(33,33,33,1);
    font-weight: bold;
    padding-left: 20%;
    padding-right: 20%;
}

p {
    text-align: left;
    font-size: 11pt;
    font-family: Lato, sans-serif;
    line-height: 1.6667;
    color: rgba(33,33,33,1);
    padding-left: 20%;
    padding-right: 20%;
}

small {
    text-align: center;
    font-size: 9pt;
    font-family: Lato, sans-serif;
    line-height: 1.7999999999999998;
    color: rgba(33,33,33,1);
    font-weight: 400;
}

a {
    color: rgba(0,101,128,1);
}

nav {
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    background-color: rgba(34,110,147,1)
}

body.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                      url("../images/HomeBG.JPG");
    background-size: cover;
    background-position: 0% 35%;
}

h1.home {
    font-family: 'Lato', 'Arial';
    line-height: 1;
    font-weight: bold;
    background-color: transparent;
}

h2.home {
    text-align: center;
    font-family: 'Lato', 'Arial';
    line-height: 1.6667;
    color: rgba(255,255,255,1);
    font-weight: bold;
    background-color: transparent;
} 

h3.home {
    text-align: center;
    font-family: 'Lato', 'Arial';
    line-height: 1.6667;
    color: rgba(255,255,255,1);
    font-weight: bold;
}

nav.home {
    background-color: transparent;
}

h2.nav {
    font-size: 12pt;
    color: rgba(255,255,255,1);
    font-weight: 300;
    background-color: transparent;
}

h2.nav a {
    color: rgba(255,255,255,1);
}

h2.right {
    text-align: right;
    flex: 1;
}

h2.left {
    flex: 1;
}

h3.center {
    text-align: center;
}

span.header {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    background-color: gainsboro;
}

p.subheading {
    background-color: gainsboro;
}